{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__channelpoint">
  <h2 class="ips__clear-top">{{ login }} のチャンネルポイント報酬設定</h2>

{% if not loggedin %}
  <p>このページを表示するにはログインが必要です。<a href="{{ oauthUrl }}">ログインする</a></p>
{% else %}

  <h3 class="ips__clear-top">設定済みのトリガー</h3>
  <div class="">
{% if registered is empty %}
    設定済みのトリガーはありません
{% else %}
{% for id, reg in registered %}
{{ reg.title }}<br>
{% for key, val in reg.trigger %}
{{ key }} : {{ val }}<br>
{% endfor %}
{% endfor %}
{% endif %}
  </div>

  <h3>チャンネルポイント報酬</h3>
  <div class="ips__channelpoint-setting">
{% if rewards is empty %}
    <p>チャンネルポイント報酬が見つかりません。</p>
{% else %}
    <div class="ips__channelpoint-setting-list">
    <table class="ips__table ips__channelpoint-list">
    {% for r in rewards %}
      <tr>
        <td>{% if r.is_registered == true %}登録済み{% else %}<input type="radio" name="channelpoint-target" value="{{ r.id }}">{% endif %}</td>
        <td class="ips__txt-center" style="background-color:{{ r.bg }};"><img src="{{ r.image }}" alt="{{ r.title }}" style="max-width:96px; max-height:64px; padding: 2px;"></td>
        <td>{{ r.title }}</td>
        <td class="ips__txt-center">{{ r.cost }}</td>
      </tr>
    {% endfor %}
    </table>
    </div>
    <div class="ips__channelpoint-setting-detail">
      <ul class="ips__channelpoint-register-list">
        <li>
          <p>
            <input type="text" class="ips__channelpoint-register-form ips__size-30em" name="message[]" value="" placeholder="メッセージ(30文字以内)" maxlength="35">
          </p>
          <p>
            <input type="text" class="ips__channelpoint-register-form ips__size-15em" name="probability[]" value="" placeholder="確率(0.1～100) ※単位:%"> <input type="text" class="ips__channelpoint-register-form ips__size-10em" name="point[]" value="" placeholder="加算IPSポイント">
          </p>
        </li>
  </ul>
  <button type="button" class="ips__channelpoint-btn ips__channelpoint-add-row">1行増やす</button>
  <br>
  <button type="button" class="ips__channelpoint-btn ips__channelpoint-register">この内容で登録</button>

      <div class="ips__channelpoint-setting-notice">
        <h3>メッセージ</h3>
        <p>当選した際に、その文言がチャット欄に流れます</p>

        <h3>確率</h3>
        <p>当選する確率を0.1%単位で設定することができます<br>全部の項目の合計がピッタリ100である必要があります</p>

        <h3>加算IPSポイント</h3>
        <p>当選した際、そのチャンネルポイントを交換したユーザーに付与するポイントを設定できます<br>IPSポイント以外のものを報酬として与える場合は0に設定しておき、メッセージで内容を伝えてください</p>
      </div>
    </div>
{% endif %}
  </div>

{% endif %}

</div>

{% endblock %}
