{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__channelpoint">
  <h2 class="ips__clear-top">{{ channel }} のチャンネルポイント報酬</h2>

{% if not loggedin %}
  <p>このページを表示するにはログインが必要です。<a href="{{ oauthUrl }}">ログインする</a></p>
{% else %}

  {% if rewards is empty %}
    <p>チャンネルポイント報酬が見つかりません。</p>
  {% else %}
  <div class="ips__channelpoint-setting">
    <div class="ips__channelpoint-setting-list">
    <table class="ips__table ips__channelpoint-list">
    {% for r in rewards %}
      <tr>
        <td><input type="radio" name="channelpoint-target" value="{{ r.id }}"></td>
        <td class="ips__txt-center"><img src="{{ r.image }}" alt="{{ r.title }}" style="max-width:96px; max-height:64px;"></td>
        <td>{{ r.title }}</td>
        <td class="ips__txt-center">{{ r.cost }}</td>
      </tr>
    {% endfor %}
    </table>
    </div>
    <div class="ips__channelpoint-setting-detail">
      <ul class="ips__channelpoint-register-list">
        <li>
          <p>
            <input type="text" class="ips__channelpoint-register-form ips__size-30em" name="message[]" value="">
          </p>
          <p>
            <input type="text" class="ips__channelpoint-register-form ips__size-15em" name="probability[]" value="" placeholder="確率(0.1～100) ※単位:%"> <input type="text" class="ips__channelpoint-register-form ips__size-10em" name="point[]" value="" placeholder="加算IPSポイント">
          </p>
        </li>
      </ul>
      <button>1行増やす</button> <button>この内容で登録</button>
    </div>
  </div>
  {% endif %}

{% endif %}

</div>

{% endblock %}
