<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="配信を盛り上げてくれるリスナーにポイントを付与することができるTwitch配信者向けサービス">
<meta name="author" content="ICB">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="og:title" content="IPS Online -ICB Point System Online for Twitch-">
<meta name="og:image" content="/img/ips_logo_icon.png">
<meta name="og:description" content="配信を盛り上げてくれるリスナーにポイントを付与することができるTwitch配信者向けサービス">
<title>IPS Online -ICB Point System Online for Twitch-</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" href="/img/ips_logo_icon.png" type="image/png">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Kosugi+Maru&family=Zen+Kurenaido&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<link href="/css/ips.css" rel="stylesheet">
{% block head %}
{% endblock %}
<script src="/js/ips.js"></script>
</head>
<body>
<div class="ips__content">
  <div class="ips__content-header">
    <h1>{{ page_name }}</h1>
  </div>
  <div class="ips__content-body">
    <div class="ips__side">
      <p class="ips__login-name">ようこそ、<strong>{{ login }}</strong>さん</p>
      <ul class="ips__menu">
        <li class="ips__menu-item"><a href="/">トップページ</a></li>
        <li class="ips__menu-item"><a href="/information">おしらせ</a></li>
        <li class="ips__menu-item"><a href="/setting">設定</a></li>
{% if loggedin %}
        <li class="ips__menu-item"><a href="/ignore">対象外ユーザー設定</a></li>
        <li class="ips__menu-item"><a href="/ranking?channel={{ login }}">ランキング</a></li>
{% endif %}
      </ul>
{% if loggedin == false %}
      <p class="ips__login-button">
        <a href="{{ oauthUrl }}">ログイン</a>
      </p>
{% endif %}
      <p>
        <span class="ips__inline-icon ips__logo-x"><a href="https://x.com/ipsonline">@ipsonline</a></span>
      </p>
      <p>
      問い合わせはDiscordかTwitterまで
      </p>
    </div>
    <div class="ips__main">
{% if errors is not empty %}
<ul class="ips__error">
{% for err in errors %}
<li class="ips__error-message">{{ err }}</li>
{% endfor %}
</ul>
{% endif %}
      <div class="ips__main-inner">
{% block inner %}{% endblock %}
      </div>
    </div>
  </div>
  <div class="ips__content-footer">
    <div class="ips__footer-link">
      <ul>
        <li><a href="/policy">プライバシーポリシー</a></li>
      </ul>
    </div>
    <div class="ips__copyright-wrapper">
      <p class="ips__copyright">&copy; 2025 ICB</p>
    </div>
  </div>

  <!-- hidden values for client-side JS -->
  <input type="hidden" id="ips__operator-login" value="{{ login }}">
  <input type="hidden" id="ips__template-channel" value="{{ channel | default('') }}">

  <div id="ips__error-popup">
    <button class="ips__error-popup-close">×</button>
    <p class="ips__error-popup-message">error</p>
  </div>
  <div id="ips__success-popup">
    <button class="ips__success-popup-close">×</button>
    <p class="ips__success-popup-message">success</p>
  </div>

</div>

<div id="ips__overlay"></div>
</body>
</html>
