{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__ranking">
  <h2 class="ips__clear-top">{{ channel }}のポイントランキング</h2>
{% for r in ranking %}
  <p>{{ r.rank }}: {{ r.disp_name }} ( {{ r.login }} ) - {{ r.points }}</p>
{% endfor %}
</div>

{% endblock %}
