{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__ranking">
  <h2 class="ips__clear-top">{{ channel }}のポイントランキング</h2>

  <table>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>ポイント</th>
    </tr>
{% for r in ranking %}
    <tr>
      <td>{{ r.rank }}</td>
      <td>{{ r.disp_name}} ( {{ r.login }} )</td>
      <td>{{ r.points }}</td>
    </tr>
{% endfor %}
  </table>
</div>

{% endblock %}
