{% extends "ips_base.twig" %}

{% block head %}{% endblock %}

{% block inner %}

<div class="ips__show">
  <h2 class="ips__clear-top">{{ channel }}のIPS設定</h2>

  {% if error_message is defined %}
    <p>{{ error_message }}</p>
  {% else %}
    <table class="ips__table ips__show-setting">
      <tr>
        <th>ポイント名称</th>
        <td class="ips__txt-center">{{ settings.name }}</td>
        <td class="ips__txt-small">{{ channel }} で貯まるポイントの名称</td>
      </tr>
      <tr>
        <th>ポイント確認コマンド</th>
        <td class="ips__txt-center">!{{ settings.command }}</td>
        <td class="ips__txt-small">チャット欄でこのコマンドを入力すると、現在所有しているポイントが確認できます。</td>
      </tr>
      <tr>
        <th>ポイント加算期間</th>
        <td class="ips__txt-right">{{ settings.period }}分</td>
        <td class="ips__txt-small">最後にチャットしてからこの時間が経過するまでの間、ポイントが加算されます。</td>
      </tr>
      <tr>
        <th>1分あたりのポイント加算量</th>
        <td class="ips__txt-right">{{ settings.addition }} {{ settings.unit }}</td>
        <td class="ips__txt-small">チャットをすると一定時間、1分ごとにこのポイントが加算されていきます。</td>
      </tr>
      <tr>
        <th>Tier1ボーナス</th>
        <td class="ips__txt-right">{{ settings.addition_t1 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">Tier1サブスクしていると、1分ごとの加算ポイントにこのボーナスが上乗せされます。</td>
      </tr>
      <tr>
        <th>Tier2ボーナス</th>
        <td class="ips__txt-right">{{ settings.addition_t2 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">Tier2サブスクしていると、1分ごとの加算ポイントにこのボーナスが上乗せされます。</td>
      </tr>
      <tr>
        <th>Tier3ボーナス</th>
        <td class="ips__txt-right">{{ settings.addition_t3 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">Tier3サブスクしていると、1分ごとの加算ポイントにこのボーナスが上乗せされます。</td>
      </tr>
      <tr>
        <th>Raidポイント</th>
        <td class="ips__txt-right">{{ settings.raid }} {{ settings.unit }}</td>
        <td class="ips__txt-small">レイドしてくれた方にはこのポイントが加算されます。</td>
      </tr>
      <tr>
        <th>Raiderボーナス</th>
        <td class="ips__txt-right">{{ settings.raid_bonus }} {{ settings.unit }}</td>
        <td class="ips__txt-small">レイドに乗ってきた人数10人ごとにこのポイントが加算されます。</td>
      </tr>
      <tr>
        <th>Bitsポイント</th>
        <td class="ips__txt-right">{{ settings.bits100 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">Cheer 100bitsごとにこのポイントが加算されます。</td>
      </tr>
      <tr>
        <th>Tier1サブギフポイント</th>
        <td class="ips__txt-right">{{ settings.gift_t1 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">送ったTier1サブスクギフト1個につきこのポイントが加算されます。</td>
      </tr>
      <tr>
        <th>Tier2サブギフポイント</th>
        <td class="ips__txt-right">{{ settings.gift_t2 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">送ったTier2サブスクギフト1個につきこのポイントが加算されます。</td>
      </tr>
      <tr>
        <th>Tier3サブギフポイント</th>
        <td class="ips__txt-right">{{ settings.gift_t3 }} {{ settings.unit }}</td>
        <td class="ips__txt-small">送ったTier3サブスクギフト1個につきこのポイントが加算されます。</td>
      </tr>
    </table>

    <p class="ips__txt-center">
    チャットによるポイント加算の仕組みについてはこちらをご参照ください。<br>
    <img src="/img/ips_introduction_3.jpg" width="480" height="270">
    </p>
  {% endif %}

</div>

{% endblock %}
